<h2 class="text-center">Canvas</h2>
	
	<script>

		var croquis = new Croquis();
		var height = window.innerHeight * 0.8
		var width = window.innerWidth * 0.8
		croquis.setCanvasSize(width, height);
		croquis.addLayer();
		croquis.fillLayer('#fff');

		var brush = new Croquis.Brush();
		brush.setSize(25);
		brush.setColor('#fff');
		croquis.setTool(brush);
		croquis.setToolStabilizeLevel(10);
		croquis.setToolStabilizeWeight(0.5);

		document.body.appendChild(croquis.getDOMElement());

		document.addEventListener('mouseenter', function (e) {
				croquis.down(e.clientX, e.clientY);
				document.addEventListener('mousemove', onMouseMove);
		});

		function onMouseMove(e) {
				croquis.move(e.clientX - 150, e.clientY - 95);
		}
    
		$(document).ready(function() {

			var timeStart = new Date().getTime();
			var idleTime = 0;
			var brushStrokes = 0;
			var strokeCount = 0;
			counter = setInterval(incrementCount, 1000);
			
			$(document).bind("mousemove", function (e) {
			  incrementCount;
			});
			
			function incrementCount () {
			  brushStrokes++;
				strokeCount++;
			}
			
			$(document).idle({
			  onIdle: function() {
				  brushStrokes = 0;
					startTime = new Date().getTime();
				},
				onActive: function() {
				  idleTime += (Math.ceil((new Date().getTime() - startTime)/1000));
				},

				idle: 500
			})

		  $(document).keyup(function(e) {
	
			  if (e.keyCode == 27) {
					
					var timeEnd = new Date().getTime();
					var elapsedTime = (timeEnd - timeStart)/1000
					$("#myModal").toggle();
					$(".time").html("Time Painting: " + Math.floor(elapsedTime/60) + ":" + Math.floor(elapsedTime % 60));
					$(".idle").html("Idle Time: " + Math.floor(idleTime/60) + ":" + Math.floor(idleTime % 60));
					$(".activity").html("Activity: " + (100 - parseFloat((idleTime/elapsedTime) * 100).toFixed(2)) + " %");
					$(".brush-strokes").html("Current Speed: " + brushStrokes);
					$(".average-speed").html("Average Speed: " + Math.floor(strokeCount/elapsedTime));
			  }});
				
	    $("canvas").mousemove(function() {
			  var timeEnd = new Date().getTime();
				var elapsedTime = (timeEnd - timeStart)/1000
				var speed = parseFloat((brushStrokes/3)).toFixed(2);
			  brushStrokes++;
				strokeCount++;
				var colors = ["red", "green", "yellow", "red", "purple"];
				brush.setColor(colors[Math.floor(Math.random() * 5)]);
				
				if (speed >= 0 && speed <= 10) {
				  brush.setSize(25);
					brush.setSpacing(0.3);
				}
				else if (speed > 10 && speed <= 15) {
				  brush.setSize(22);
					brush.setSpacing(0.6);
				}
				else if (speed > 15 && speed <= 20) {
				  brush.setSize(19);
					brush.setSpacing(0.9);
		  	}
		    else if (speed > 20 && speed <= 25) {
				brush.setSize(16);
				brush.setSpacing(1.2);
				}
				else {
				  brush.setSize(13);
					brush.setSpacing(1.5);
				}
			});
			
		  $("#close").click(function() {
			  $("#myModal").hide();
			});
		  
			$("#new-painting").click(function() {
			  location.reload();
			});
		});
	</script>

<div class="modal bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-content">
		  <div class="modal-header">
			  <ul class="list-inline">
					<li><h4 class="modal-title">Statistics</h4></li>
					  <li class="list-right"><button id="new-painting">New Painting</button></li>
					  <li><button id="close"><span>&times;</span></button></li>
				</ul>
			</div>
      <p class="time"></p>
			<p class="idle"></p>
			<p class="activity"></p>
			<p class="brush-strokes"></p>
			<p class="average-speed"></p>
    </div>

</div>